@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* GENERAL STYLES */

body {
  font-family: "Montserrat", sans-serif;
  padding: 5px 20px;
  background-color: #f0f0f0;
}

header,
main {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #202020;
  font-size: 12px;
  font-weight: bold;
}

a:hover {
  color: blueviolet;
}

p,
li {
  color: #202020;
  font-size: 14px;
}

li {
  list-style-type: none;
  padding-bottom: 20px;
}

h2 {
  padding-top: 20px;
}

.home-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image {
  max-width: 600px;
  height: 150px;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

/* FOOD TABLE CSS STYLES */

table,
th,
td {
  font-size: 13px;
}

.table-heading {
  background-color: blueviolet;
  color: #f0f0f0;
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  text-align: left;
  padding: 10px;
  border: 1px solid #2020207d;
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* IMAGE GALLERY PAGE */

figure {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

figure img {
  max-width: 300px;
  height: auto;
}

/* ORDER FORM PAGE */

@media only screen and (max-width: 500px) {
  .amala-option {
    flex: 1 0 100%; /* 100% width on small screens */
    margin: 10px 0;
  }
}

.amala-option {
  flex: 1 0 180px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.amala-option.selected {
  background-color: #f2f2f2;
}
.amala-option h3 {
  text-align: center;
  margin-bottom: 5px;
}

.amala-option:hover {
  background-color: blueviolet;
  color: white;
}

.amala-option:hover p {
  color: white;
}
