@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* GENERAL STYLES */

body {
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  background-color: #f0f0f0;
}

header,
main {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #202020;
  font-size: 12px;
  font-weight: bold;
}

a:hover {
  color: blueviolet;
}

p,
li {
  color: #202020;
  font-size: 14px;
}

li {
  list-style-type: none;
  padding-bottom: 20px;
}

/* HOMEPAGE CSS STYLES */
