@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* GENERAL STYLES */

body {
  font-family: "Montserrat", sans-serif;
  padding: 5px 20px;
  background-color: #f0f0f0;
}

header,
main {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #202020;
  font-size: 12px;
  font-weight: bold;
}

a:hover {
  color: blueviolet;
}

p,
li {
  color: #202020;
  font-size: 14px;
}

li {
  list-style-type: none;
  padding-bottom: 20px;
}

h2 {
  padding-top: 20px;
}

/* FOOD TABLE CSS STYLES */

table,
th,
td {
  font-size: 13px;
}

.table-heading {
  background-color: blueviolet;
  color: #f0f0f0;
}

table {
  margin-top: 30px;
  border-collapse: collapse; /* Remove gaps between cells */
  width: 100%; /* Adjust table width as needed */
}
th,
td {
  text-align: left; /* Align content to the left */
  padding: 10px; /* Add padding for readability */
  border: 1px solid #2020207d; /* Add table borders */
}
th {
  background-color: #f2f2f2; /* Light background for headers */
  font-weight: bold; /* Make headers bold */
}
